<div class="main-panel">
  <%= render 'topNavi', title: "메뉴 관리" %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Message list</h4>
              <p class="category">
                메세지
              </p>
            </div>
            <div class="content">
              <div class="footer">
                <div class="chart-legend">
                  쭈옵쭈옵
                </div>
                <hr>
                <div class="stats">
                  <i class="ti-reload"></i> 2018-09-15
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>