
          
     

    <div class="main-panel">
      


    
    </div>
    <script>
        
        tester = new tester();
        tester.testAll(['참빛', '새빛'], function (message) {
            console.log(message);
        });
        
    </script>
