
      
 

<div class="main-panel">
    
  <%= render 'topNavi', title: "모니터링" %>
  
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Monotoring</h4>
              <p class="category">모니터링 결과</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                	<th>Message</th>
                	<th>Status</th>
                	<th>Status Message</th>
                	<th>Result</th>
                </thead>
                <tbody id="table-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>

</div>
<script>

  var template = function (data) {
    var td = function (text) {
      return [
        '<td>',
          text,
        '</td>'
      ].join('');
    }
    return [
      '<tr>',
        td(data.sendMessage),
        td(data.status),
        td(data.textStatus),
        td(data.message.replace(/\n/g, "<br />")),
      '</tr>'
    ].join('');
  };
    
  tester = new tester();
  tester.testAll(['참빛'], function (data) {
      $('#table-body').append(template(data));
  });
    
</script>
