
      
 

<div class="main-panel">
    
  <%= render 'topNavi', title: "모니터링" %>
  
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Monotoring</h4>
              <p class="category">모니터링 결과</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                	<th>Message</th>
                	<th>Status</th>
                	<th>Status Message</th>
                	<th>Result</th>
                </thead>
                <tbody id="table-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>

</div>
<script>

  // TODO:: result 접기 펼치기 기능
  // TODO:: result 모두 펼치기 모두 접기 기능
  // TODO:: 모두 테스트, 학식 테스트, 학식 이번주 테스트, 등등 추가
  
  
  var makeTrObject = function (data) {
    
    template = function (data) {
      var td = function (text) {
        return [
          '<td>',
            text,
          '</td>'
        ].join('');
      }
      return [
        '<tr>',
          td(data.sendMessage),
          td(data.status),
          td(data.textStatus),
          td(data.message.replace(/\n/g, "<br/>")),
        '</tr>'
      ].join('');
    };
    
    var $tr = $($.parseHTML(template(data)));
    var $result_tr = $tr.find('td:last');
    
    $tr.isShowing = false;
    $result_tr.hide();
    
    $tr.click(function () {
      if ($tr.isShowing) {
        $result_tr.hide();
        $tr.isShowing = false;
      } else {
        $result_tr.show();
        $tr.isShowing = true;
      }
    });
    
    return $tr;
  }
    
  tester = new tester();

  var $table_body = $('#table-body');
  tester.testAll(tester.testcases, function (data) {
    var $tr = makeTrObject(data);
    $table_body.append($tr);
  });
    
    
</script>
