<div class="main-panel">
    
    <%= render 'topNavi', title: "메세지 관리" %>

	<div class="content">
    	<div class="container-fluid">
    	    현재 값 : 
            
            <%= @val %>
        </div>
  </div>
</div>